// Sizes.
$em-base:16px;
$site-scaller: 1.0; 
$site-max-width: 1200px;
$pd-container: $em-base;


// Colors.
$main-color: #ff0;
$light: #fff;
$dark: #000;


// Breakpoint.
$xs-w: 560px;
$sm-w: 780px;
$md-w: 1024px;
$lg-w: 1380px;

$xs-h: 520px;
$sm-h: 680px;


// If you use vertical-rhythm
$base-line-height: 1rem;
$step: $base-line-height;
